@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600;700&family=Raleway:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300&display=swap');

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  overflow-x: hidden;
}

body {
  background-color: var(--bg2-color);
  padding-bottom: 70px;
}

/*===============Variable===============*/
:root {
  --primary-color: #99e54d;
  --secondry-color: #8ae132;
  --third-color: #f1ae0e;
  --white-color: #fff;
  --bg-color: #1a1a1a;
  --bg2-color: #f9f6ee;
  --text-color: #000;
  --primary-font: 'Raleway', sans-serif;
  --secondry-font: 'Montserrat', sans-serif;
}


/*===============custom css===============*/
p {
  font-family: var(--primary-font);
}

h1 {
  font-family: var(--secondry-font);
}

h2 {
  font-family: var(--secondry-font);
}

h3 {
  font-family: var(--secondry-font);
}

button {
  font-family: var(--primary-font);
}

/*
============================
Main div start
============================
*/

/*
============================
navbar start
============================
*/

.menu-btn {
  display: none;
}

.close-btn {
  display: none;
}

.side-bar {
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--bg2-color);
}

.side-bar > ul {
  list-style-type: none;
}

.side-bar > ul > li {
  display: inline-block;
  margin-left: 15px;
  margin-right: 15px;
}

.side-bar > ul > li > a {
  text-decoration: none;
  color: #1a1a1a;
  font-family: var(--secondry-font);
  text-transform: uppercase;
}

.side-bar > ul > li > a:hover {
  color: #ffe6ab;
}

.side-bar > ul > li > a.active {
  color: var(--third-color);
}

/*
============================
navbar end
============================
*/

/*
============================
Our mission section start
============================
*/

.mission-sec {
  width: 85%;
  height: 630px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;
  background-color: var(--white-color);
  margin-top: 70px;
  border-radius: 50px;
}

.mission-left-sec {
  width: 45%;
  height: 100%;
  margin-top: 200px;
  margin-left: 30px;
}

.mission-left-sec > h3 {
  margin-bottom: 20px;
}

.mission-left-sec > h1 {
  font-size: 47px;
  margin-bottom: 20px;
}

.mission-left-sec > p {
  font-size: 18px;
  margin-bottom: 20px;
  line-height: 1.9rem;
}

.mission-left-sec > p > a::after {
  content: "Freepik";
}

.mission-left-sec > p > a {
  text-decoration: none;
  color: var(--third-color)
}

.mission-left-sec > p > a:hover {
  color: #d69602;
}

.mission-left-sec > button {
  border: none;
  background-color: var(--third-color);
  color: var(--white-color);
  padding: 17px 30px;
  border-radius: 30px;
  font-size: 16px;
  margin-top: 10px;
}

.mission-left-sec > button:hover {
  background-color: #e6a306;
  color: rgb(227, 227, 227);
}

.mission-right-sec {
  width: 50%;
  height: 100%;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.mission-right-sec > img {
  width: 94.5%;
  height: 90%;
  object-fit: cover;
  object-position: center;
  border-radius: 50px;
}

/*
============================
Our mission section end
============================
*/

/*
============================
unforgettable meal section start
============================
*/

.meal-sec {
  width: 100%;
  height: 600px;
  background-color: var(--third-color);
  margin-top: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.meal-sub-sec {
  width: 85%;
  height: 75%;
  background-color: var(--white-color);
  border-radius: 50px;
}

.meal-sub-sec > h1 {
  font-size: 48px;
  width: 65%;
  text-align: center;
  margin-right: auto;
  margin-left: auto;
  margin-top: 30px;
}

.meal-sub-sec > p {
  width: 57%;
  text-align: center;
  margin-right: auto;
  margin-left: auto;
  margin-top: 20px;
  font-size: 18px;
  line-height: 2rem;
}

.meal-sub-sec > .btn {
  text-align: center;
  margin-top: 30px;
}

.meal-sub-sec > .btn > button {
  border: none;
  background-color: var(--primary-color);
  font-size: 16px;
  padding: 20px 45px;
  border-radius: 30px;
}

.meal-sub-sec > .btn > button:hover {
  background-color: var(--secondry-color);
}

/*
============================
unforgettable meal section end
============================
*/


/*
============================
Our mission-2 section start
============================
*/

.mission-2-sec {
  width: 85%;
  height: 630px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;
  background-color: var(--white-color);
  margin-top: 70px;
  border-radius: 50px;
}

.mission-2-left-sec {
  width: 45%;
  height: 100%;
  margin-top: 200px;
  margin-left: 30px;
}

.mission-2-left-sec > h3 {
  margin-bottom: 20px;
}

.mission-2-left-sec > h1 {
  font-size: 47px;
  margin-bottom: 20px;
}

.mission-2-left-sec > p {
  font-size: 18px;
  margin-bottom: 20px;
  line-height: 1.9rem;
}

.mission-2-left-sec > p > a::after {
  content: "Freepik";
}

.mission-2-left-sec > p > a {
  text-decoration: none;
  color: var(--third-color)
}

.mission-2-left-sec > p > a:hover {
  color: #d69602;
}

.mission-2-left-sec > button {
  border: none;
  background-color: var(--third-color);
  color: var(--white-color);
  padding: 17px 30px;
  border-radius: 30px;
  font-size: 16px;
  margin-top: 10px;
}

.mission-2-left-sec > button:hover {
  background-color: #e6a306;
  color: rgb(227, 227, 227);
}

.mission-2-right-sec {
  width: 50%;
  height: 100%;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.mission-2-right-sec > img {
  width: 94.5%;
  height: 90%;
  object-fit: cover;
  object-position: center;
  border-radius: 50px;
}

/*
============================
Our mission-2 section end
============================
*/

/*
============================
second section start
============================
*/

.second-section {
  width: 85%;
  margin-left: auto;
  margin-right: auto;
  height: 380px;
  margin-top: 65px;
  display: flex;
  justify-content: space-between;
}

.second-sec-img {
  width: 32.1%;
  height: 100%;
  overflow-y: hidden;
  position: relative;
}

.second-sec-img > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  border-radius: 50px;
  filter: brightness(80%);
}

.second-sec-img > p {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-family: var(--primary-font);
  font-weight: 700;
  text-transform: uppercase;
  font-size: 1.21rem;
  width: 100%;
  text-align: center;
}


/*
============================
second section end
============================
*/

/*
============================
keep-to-date section start
============================
*/

.keep-to-date {
  width: 100%;
  height: 400px;
  background-color: var(--primary-color);
  margin-top: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.keep-to-date-content {
  width: 85%;
  height: 270px;
  margin: auto;
  background-color: var(--white-color);
  border-radius: 50px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.keep-to-date-content > h1 {
  font-family: var(--secondry-font);
  font-size: 48px;
  margin-bottom: 20px;
}

.keep-to-date-content > p {
  font-family: var(--primary-font);
  font-size: 18px;
  margin-bottom: 30px;
}

.input-element {
  width: 100%;
}

.input-element > input[type = "text"] {
  width: 37%;
  margin-right: 20px;
  height: 50px;
  border-radius: 20px;
  border: 2px solid black;
  padding-left: 10px;
}

::placeholder {
  font-family: var(--primary-font);
  font-size: 16px;
  color: rgb(177, 177, 177);
}

.input-element > input[type = "submit"] {
  font-family: var(--primary-font);
  border: none;
  padding: 15px 32px;
  border-radius: 30px;
  background-color: var(--primary-color);
  font-size: 16px;
} 

.input-element > input[type = "submit"]:hover {
  background-color: var(--secondry-color);
}
/*
============================
contact section end
============================
*/

/*
============================
our contact section start
============================
*/

.our-contact-section {
  width: 85%;
  margin-left: auto;
  margin-right: auto;
  height: 630px;
  background-color: var(--white-color);
  margin-top: 6%;
  border-radius: 50px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.left-section {
  width: 50%;
  height: 100%;
  margin-left: 3%;
  margin-top: 10%;
  overflow-y: hidden;
}

.left-section-discount {
  width: 225px;
  height: 225px;
  background-color: var(--primary-color);
  border-radius: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: var(--secondry-font);
}

.left-section-discount > h2 {
  font-size: 60px;
}

.left-section-discount > p {
  font-weight: 700;
  text-transform: uppercase;
  font-size: 18px;
  width: 50%;
  text-align: center;
  margin-top: 20px;
}

.left-section-heading {
  font-family: var(--secondry-font);
  margin-top: 20px;
  color: var(--text-color);
  height: 100%;
}

.left-section-heading > h2 {
  font-size: 60px;
  line-height: 4.1rem;
  overflow-y: hidden;
  margin-bottom: 50px;
}

.left-section-heading > p {
  margin-top: 50px;
  font-size: 18px;
  margin-bottom: 30px;
  font-family: var(--primary-font);
}

.left-section-heading > p > a::after {
  content: "Freepik";
  text-decoration: none;
  color: #99e54d;
}

.left-section-heading > p > a {
  text-decoration: none;
}

.left-section-heading > p > a:hover {
  color: var(--secondry-color);
}

.left-section-heading > a {
  text-decoration: none;
  background-color: var(--third-color);
  color: white;
  padding: 19px 46px 20px;
  border-radius: 50px;
  font-family: 'Raleway', sans-serif;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 0.09rem;
}

.left-section-heading > a:hover {
  background-color: #ffe6ab;
  color: #111;
}

.right-section {
  width: 50%;
  height: 100%;
  overflow: hidden;
}

.email-add::after { 
  content: "hi@ourcompany.com";
  color: var(--third-color);
  font-family: var(--primary-font);
}

.location1::after { 
  content: "121 Rock Street, 21 Avenue,";
  color: var(--text-color);
  font-family: var(--primary-font);
}

.location2::after { 
  content: "New York, NY 92103-9000";
  color: var(--text-color);
  font-family: var(--primary-font);
}

.phone::after { 
  content: "+1(555) 000-000";
  color: var(--third-color);
  font-family: var(--primary-font);
}

.Right-sec-img {
  color: var(--text-color);
  display: flex;
  margin-top: 40px;
}

.Right-sec-img > .bg-c > img {
  width: 40px;
}

.bg-c {
  width: 70px;
  height: 70px;
  background-color: var(--primary-color);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Right-sec-img > .right-sec-content > h3 {
  font-family: var(--secondry-font);
  margin-bottom: 30px;
}

.Right-sec-img > .right-sec-content >  p {
  font-family: var(--primary-font);
  font-weight: 600;
  font-size: 18px;
  margin-bottom: 20px;
}

.right-sec-content {
  margin-left: 40px;
}

/*
============================
our contact section end
============================
*/


/*
============================
Main div end
============================
*/


/*
==================================
||||||||||||||||||||||||||||||||||
Main page resposive  
||||||||||||||||||||||||||||||||||
==================================
*/


@media only screen and (max-width: 991px) {

  .menu-btn {
    display: block;
    background-color: #f9f6ee;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .menu-btn > i {
    font-size: 26px;
  }

  .menu-btn > i:hover {
    color: #9e91e8;
  }
  
  .close-btn {
    display: block;
    color: white;
    width: 100%;
    height: 75px;
  }

  .close-btn > i {
  font-size: 30px;
  color: wheat;
  position: absolute;
  right: 0px;
  margin: 25px;
  cursor: pointer;
  display: block;
  }

  .menu-bar {
    background-color: rgba(0, 0, 0, 0.7);
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    left: -100%;
    transition: 0.3s ease;
    transition-property: left;
    z-index: 999;
  }

  .side-bar {
    background-color: rgba(0, 0, 0, 0.85);
    width: 250px;
    height: 100vh;
    position: fixed;
    top: 0;
    left: -100%;
    overflow-y: auto;
    transition: 0.7s ease;
    transition-property: left;
    display: block;
    text-align: center;
    z-index: 999;
  }

  .side-bar > ul > li > a {
    color: white;
    text-transform: capitalize;
    font-size: 20px;
    font-family: var(--primary-font);
  }

  .side-bar > ul > li > a:hover {
    color: rgb(201, 201, 201);
  }

  .side-bar > ul > li > a.active {
    color: white;
  }

  .side-bar > ul > li {
    display: block;
    margin-bottom: 20px;
  }

  .side-bar.work {
    left: 0;
  }
  
  .menu-bar.work {
    left: 0;
  }
 
}


/*
==============================
Mobile size 
==============================
*/

@media only screen and (max-width: 455px) {

/*
============================
Our mission section start
============================
*/

.mission-sec {
  width: 78%;
  min-height: 890px;
  flex-direction: column-reverse;
}

.mission-left-sec {
  width: 100%;
  height: 800px;
  margin-top: 0px;
  margin-left: 0px;
  text-align: center;
  overflow: hidden;
}

.mission-left-sec > h1 {
  font-size: 1.5rem;
}

.mission-left-sec > p {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}

.mission-right-sec {
  width: 80%;
  height: 350px;
  padding-top: 20px;
  margin-bottom: 15px;
}

/*
============================
Our mission section end
============================
*/

/*
============================
unforgettable meal section start
============================
*/

.meal-sec {
  height: 640px;
}

.meal-sub-sec {
  width: 78%;
}

.meal-sub-sec > h1 {
  font-size: 1.5rem;
  width: 80%;
}

.meal-sub-sec > p {
  width: 90%;
  text-align: center;
  margin-right: auto;
  margin-left: auto;
  margin-top: 20px;
  font-size: 18px;
  line-height: 2rem;
}

/*
============================
unforgettable meal section end
============================
*/


/*
============================
Our mission-2 section start
============================
*/

.mission-2-sec {
  width: 78%;
  min-height: 900px;
  flex-direction: column;
}

.mission-2-left-sec {
  width: 100%;
  height: 600px;
  margin-top: 0px;
  margin-left: 0px;
  text-align: center;
}

.mission-2-left-sec > h1 {
  font-size: 1.5rem;
  width: 70%;
  margin-left: auto;
  margin-right: auto;
}

.mission-2-left-sec > p {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}

.mission-2-right-sec {
  width: 85%;
  height: 300px;
  padding-top: 20px;
  margin-bottom: 40px;
}

.mission-2-right-sec > img {
  width: 94.5%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  border-radius: 50px;
}

/*
============================
Our mission-2 section end
============================
*/


/*
============================
second section start
============================
*/

.second-section {
  width: 78%;
  flex-direction: column;
  min-height: 800px;
}

.second-sec-img {
  width: 100%;
  height: 250px;
  margin-bottom: 20px;
}

/*
============================
second section end
============================
*/


/*
============================
keep-to-date section start
============================
*/

.keep-to-date {
  width: 100%;
  height: 450px;
  margin-top: 40px;
}

.keep-to-date-content {
  width: 78%;
  height: 310px;
}

.keep-to-date-content > h1 {
  font-size: 1.5rem;
}

.input-element > input[type = "text"] {
  width: 95%;
  margin-right: 0px;
  margin-bottom: 20px;
}

.input-element > input[type = "submit"] {
  width: 95%;
} 

/*
============================
contact section end
============================
*/

/*
============================
our contact section start
============================
*/

.our-contact-section {
  width: 78%;
  margin-top: 60px;
  flex-direction: column;
  height: 1350px;
}

.left-section {
  width: 100%;
  margin-left: 20px;
  margin-top: 50px;
  height: 700px;
}

.left-section-heading > h2 {
  font-size: 1.5rem;
  margin-bottom: 30px;
}

.left-section-heading > p {
  margin-top: 40px;
  margin-bottom: 0px;
}

.right-section {
  width: 100%;
  margin-top: 0px;
}

.Right-sec-img {
  flex-direction: column;
  margin-top: 40px;
}

.Right-sec-img > .bg-c > img {
  width: 40px;
}

.bg-c {
  margin-left: 10px;
  margin-bottom: 20px;
}

.right-sec-content {
  margin-left: 10px;
}

/*
============================
our contact section end
============================
*/

}