@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600;700&family=Raleway:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300&display=swap');

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  overflow-x: hidden;
}

body {
  background-color: var(--bg2-color);
  padding-bottom: 70px;
}

/*===============Variable===============*/
:root {
  --primary-color: #99e54d;
  --secondry-color: #8ae132;
  --third-color: #f1ae0e;
  --white-color: #fff;
  --bg-color: #1a1a1a;
  --bg2-color: #f9f6ee;
  --text-color: #000;
  --primary-font: 'Raleway', sans-serif;
  --secondry-font: 'Montserrat', sans-serif;
}

/*
============================
Main div start
============================
*/


/*
============================
navbar start
============================
*/

.menu-btn {
  display: none;
}

.close-btn {
  display: none;
}

.side-bar {
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--bg2-color);
}

.side-bar > ul {
  list-style-type: none;
}

.side-bar > ul > li {
  display: inline-block;
  margin-left: 15px;
  margin-right: 15px;
}

.side-bar > ul > li > a {
  text-decoration: none;
  color: #1a1a1a;
  font-family: var(--secondry-font);
  text-transform: uppercase;
}

.side-bar > ul > li > a:hover {
  color: #ffe6ab;
}

.side-bar > ul > li > a.active {
  color: var(--third-color);
}

/*
============================
navbar end
============================
*/

/*
============================
Home-f-section start
============================
*/

.home-f-section {
  width: 85%;
  margin-left: auto;
  margin-right: auto;
  height: 700px;
  background-image: url("../images/vegetables-set-left-black-slate.jpg");
  background-repeat: no-repeat;
  background-position: 100% 50%;
  background-size: cover;
  margin-top: 6%;
  border-radius: 50px;
  overflow: hidden;
}

.first-sec-content {
  width: 100%;
  height: 660px;
  margin-left: 3%;
  margin-top: 3%;
  overflow-y: hidden;
}

.discount {
  width: 225px;
  height: 225px;
  background-color: var(--primary-color);
  border-radius: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: var(--secondry-font);
}

.discount > h2 {
  font-size: 60px;
}

.discount > p {
  font-weight: 700;
  text-transform: uppercase;
  font-size: 18px;
  width: 50%;
  text-align: center;
  margin-top: 20px;
}

.heading {
  font-family: var(--secondry-font);
  margin-top: 20px;
  color: white;
  height: 100%;
}

.heading > h4 {
  font-size: 18px;
  text-transform: uppercase;
  margin-bottom: 25px;
}

.heading > h2 {
  font-size: 60px;
  line-height: 4.1rem;
  overflow-y: hidden;
  margin-bottom: 40px;
  width: 40%;
}

.heading > p {
  margin-top: 25px;
  font-size: 18px;
  margin-bottom: 30px;
  font-family: var(--primary-font);
}

.heading > p > a::after {
  content: "Freepik";
  text-decoration: none;
  color: #99e54d;
}

.heading > p > a {
  text-decoration: none;
}

.heading > p > a:hover {
  color: var(--secondry-color);
}

.heading > a {
  text-decoration: none;
  background-color: var(--third-color);
  color: white;
  padding: 19px 46px 20px;
  border-radius: 50px;
  font-family: 'Raleway', sans-serif;
  font-size: 14px;
  font-weight: 700;
}

.heading > a:hover {
  background-color: #ffe6ab;
  color: #111;
}

/*
============================
Home-f-section end
============================
*/

/*
============================
Menu section start
============================
*/

.menu-section {
  color: var(--text-color);
  margin-top: 12%;
}

.menu-section > h1 {
  font-family: var(--secondry-font);
  text-align: center;
  font-size: 50px;
  margin-bottom: 30px;
}

.menu-section > p {
  font-family: var(--primary-font);
  text-align: center;
  font-size: 18px;
  margin-top: 40px;
}

.menu-section > p > a::after {
  content: "Freepik";
  color: var(--third-color);
  font-weight: 700;
}

.menu-section > p > a {
  text-decoration: none;
}

.menu-section > p > a:hover {
  opacity: 0.9;
}

.first-menu {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  width: 85%;
  margin-left: auto;
  margin-right: auto;
  gap: 30px;
  margin-top: 50px;
  text-align: center;
}

.first-menu-img {
  width: 100%;
  min-height: 300px;
  
}

.first-menu-img > img {
  width: 100%;
  height: 300px;
  border-radius: 50px;
  object-fit: cover;
  object-position: center;
}

.first-menu-img > p {
  font-family: var(--secondry-font);
  font-weight: 700;
  font-size: 18px;
  margin-top: 30px;
  margin-bottom: 30px;
}

.first-menu-img > button {
  font-family: var(--primary-font);
  background-color: var(--third-color);
  border: none;
  font-size: 16px;
  padding: 20px 43px;
  border-radius: 30px;
  text-transform: uppercase;
  color: var(--white-color)
}

.first-menu-img > button:hover {
  background-color: #d99e14;
}

/*
============================
Menu section end
============================
*/


/*
============================
contact section start
============================
*/

.contact {
  width: 100%;
  height: 400px;
  background-color: var(--primary-color);
  margin-top: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.contact-content {
  width: 85%;
  height: 270px;
  margin: auto;
  background-color: var(--white-color);
  border-radius: 50px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.contact-content > h1 {
  font-family: var(--secondry-font);
  font-size: 48px;
  margin-bottom: 20px;
}

.contact-content > p {
  font-family: var(--primary-font);
  font-size: 18px;
  margin-bottom: 30px;
}

.contact-content > a::before {
  font-family: "Font Awesome 5 Free";
  content: "\f095";
  color: var(--third-color);
}

.contact-content > a::after {
  content: " +1 (234) 567-8910";
}

.contact-content > a {
  text-decoration: none;
  color: var(--text-color);
  font-weight: 700;
  font-family: var(--secondry-font);
  font-size: 35px;
  letter-spacing: 0.1rem;
}

.contact-content > a:hover {
  color: var(--primary-color);
}

/*
============================
contact section end
============================
*/

/*
============================
our restaurant section start
============================
*/

.our-restaurant-section {
  width: 85%;
  margin-left: auto;
  margin-right: auto;
  height: 630px;
  background-image: url("../images/fresh-salad-with-turkey-eggs-vegetables.jpg");
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: cover;
  margin-top: 6%;
  border-radius: 50px;
  overflow: hidden;
}

.restaurant-heading {
  font-family: var(--secondry-font);
  margin-top: 20px;
  color: white;
  height: 100%;
  margin-left: 3%;
  margin-top: 20%;
}

.restaurant-heading > h4 {
  font-size: 18px;
  text-transform: uppercase;
  margin-bottom: 25px;
}

.restaurant-heading > h2 {
  font-size: 50px;
  line-height: 3.5rem;
  overflow-y: hidden;
  margin-bottom: 20px;
  width: 40%;
}

.restaurant-heading > p {
  font-size: 18px;
  margin-bottom: 10px;
  font-family: var(--primary-font);
}

.restaurant-heading > .restaurant-link > a::after {
  content: "Freepik";
  text-decoration: none;
  color: var(--third-color);
}

.restaurant-heading > .restaurant-link > a {
  text-decoration: none;
}

.restaurant-heading > .restaurant-link > a:hover {
  opacity: 0.9;
}

.restaurant-heading > button {
  margin-top: 15px;
  border: none;
  background-color: var(--third-color);
  color: white;
  padding: 19px 46px 20px;
  border-radius: 50px;
  font-family: 'Raleway', sans-serif;
  font-size: 14px;
  font-weight: 700;
}

.restaurant-heading > button:hover {
  background-color: #ffe6ab;
  color: #111;
}


/*
============================
our restaurant section end
============================
*/


/*
============================
Blog section start
============================
*/

.blog-section {
  margin-top: 120px;
}

.blog-section > h2 {
  font-family: var(--secondry-font);
  text-align: center;
  font-size: 48px;
}

.blog-post-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 25px;
  width: 85%;
  margin: 40px auto 0px auto;
}

.blog-post {
  background-color: var(--white-color);
  width: 100%;
  height: 450px;
  border-radius: 50px;
}

.blog-post > .blog-link > a {
  text-decoration: none;
  color: rgb(81, 81, 233);
  font-family: var(--primary-font);
}

.blog-post > .blog-link {
  margin-top: 40px;
  margin-left: 30px;
}

.blog-post > h3 {
  font-family: var(--secondry-font);
  text-align: center;
  margin-top: 20px;
}

.blog-post > p {
  font-family: var(--primary-font);
  text-align: center;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px
}

.blog-post > .blog-btn {
  width: 100%;
  text-align: center;
  margin-top: 20px;
}

.blog-post > .blog-btn > button {
  background-color: var(--primary-color);
  border: none;
  padding: 20px 25px;
  border-radius: 30px;
  font-weight: 700;
  font-family: var(--primary-font);
  font-size: 16px;
  letter-spacing: 0.1rem;
}

.blog-post > .blog-btn > button:hover {
  background-color: var(--third-color);
  color: var(--white-color);
}

.blog-section > p {
  text-align: center;
  font-family: var(--primary-font);
  margin-top: 40px;
  font-size: 18px;
}

.blog-section > p > a::after {
  content: "Freepik";
}

.blog-section > p > a {
  text-decoration: none;
  color: #ffb405;
  font-weight: 700;
}

.blog-section > p > a:hover {
  color: #e6a103;
}


/*
============================
Blog section end
============================
*/

/*
============================
our restaurant 2nd section start
============================
*/

.our-restaurant-2nd-section {
  width: 85%;
  margin-left: auto;
  margin-right: auto;
  height: 640px;
  background-image: url("../images/third-sec-img.jpg");
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: cover;
  margin-top: 6%;
  border-radius: 50px;
  overflow: hidden;
}

.restaurant-2nd-heading {
  font-family: var(--secondry-font);
  margin-top: 20px;
  color: white;
  height: 100%;
  margin-left: 3%;
  margin-top: 26%;
}

.restaurant-2nd-heading > h4 {
  font-size: 18px;
  text-transform: uppercase;
  margin-bottom: 25px;
}

.restaurant-2nd-heading > h2 {
  font-size: 50px;
  line-height: 3.5rem;
  overflow-y: hidden;
  margin-bottom: 20px;
  width: 35%;
}

.restaurant-2nd-heading > p {
  font-size: 18px;
  margin-bottom: 10px;
  font-family: var(--primary-font);
}

.restaurant-2nd-heading > .restaurant-2nd-link > a::after {
  content: "Freepik";
  text-decoration: none;
  color: var(--third-color);
}

.restaurant-2nd-heading > .restaurant-2nd-link > a {
  text-decoration: none;
}

.restaurant-2nd-heading > .restaurant-2nd-link > a:hover {
  opacity: 0.9;
}

.restaurant-2nd-heading > button {
  margin-top: 15px;
  border: none;
  background-color: var(--third-color);
  color: white;
  padding: 19px 46px 20px;
  border-radius: 50px;
  font-family: 'Raleway', sans-serif;
  font-size: 14px;
  font-weight: 700;
}

.restaurant-2nd-heading > button:hover {
  background-color: #ffe6ab;
  color: #111;
}


/*
============================
our restaurant 2nd section end
============================
*/

/*
============================
keep-to-date section start
============================
*/

.keep-to-date {
  width: 100%;
  height: 400px;
  background-color: var(--third-color);
  margin-top: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.keep-to-date-content {
  width: 85%;
  height: 270px;
  margin: auto;
  background-color: var(--white-color);
  border-radius: 50px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.keep-to-date-content > h1 {
  font-family: var(--secondry-font);
  font-size: 48px;
  margin-bottom: 20px;
}

.keep-to-date-content > p {
  font-family: var(--primary-font);
  font-size: 18px;
  margin-bottom: 30px;
}

.input-element {
  width: 100%;
}

.input-element > input[type = "text"] {
  width: 37%;
  margin-right: 20px;
  height: 50px;
  border-radius: 20px;
  border: 2px solid black;
  padding-left: 10px;
}

::placeholder {
  font-family: var(--primary-font);
  font-size: 16px;
  color: rgb(177, 177, 177);
}

.input-element > input[type = "submit"] {
  font-family: var(--primary-font);
  border: none;
  padding: 15px 32px;
  border-radius: 30px;
  background-color: var(--primary-color);
  font-size: 16px;
} 

.input-element > input[type = "submit"]:hover {
  background-color: var(--secondry-color);
}
/*
============================
keep-up-to-date section end
============================
*/


/*
============================
our restaurant 3rd section start
============================
*/

.our-restaurant-3rd-section {
  width: 85%;
  margin-left: auto;
  margin-right: auto;
  height: 660px;
  background-image: url("../images/bg-1st.jpg");
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: cover;
  margin-top: 6%;
  border-radius: 50px;
  overflow: hidden;
}

.restaurant-3rd-heading {
  font-family: var(--secondry-font);
  margin-top: 20px;
  color: white;
  height: 100%;
  margin-left: 3%;
  margin-top: 27%;
}

.restaurant-3rd-heading > h4 {
  font-size: 18px;
  text-transform: uppercase;
  margin-bottom: 30px;
}

.restaurant-3rd-heading > h2 {
  font-size: 48px;
  line-height: 3.5rem;
  overflow-y: hidden;
  margin-bottom: 20px;
  width: 50%;
}

.restaurant-3rd-heading > p {
  font-size: 18px;
  margin-bottom: 10px;
  font-family: var(--primary-font);
}

.restaurant-3rd-heading > .restaurant-3rd-link > a::after {
  content: "Freepik";
  text-decoration: none;
  color: var(--third-color);
}

.restaurant-3rd-heading > .restaurant-3rd-link > a {
  text-decoration: none;
}

.restaurant-3rd-heading > .restaurant-3rd-link > a:hover {
  opacity: 0.9;
}

.restaurant-3rd-heading > button {
  margin-top: 15px;
  border: none;
  background-color: var(--third-color);
  color: white;
  padding: 19px 46px 20px;
  border-radius: 50px;
  font-family: 'Raleway', sans-serif;
  font-size: 14px;
  font-weight: 700;
}

.restaurant-3rd-heading > button:hover {
  background-color: #ffe6ab;
  color: #111;
}


/*
============================
our restaurant 3rd section end
============================
*/

/*
============================
our contact section start
============================
*/

.our-contact-section {
  width: 85%;
  margin-left: auto;
  margin-right: auto;
  height: 630px;
  background-color: var(--white-color);
  margin-top: 6%;
  border-radius: 50px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.left-section {
  width: 50%;
  height: 100%;
  margin-left: 3%;
  margin-top: 10%;
  overflow-y: hidden;
}

.left-section-discount {
  width: 225px;
  height: 225px;
  background-color: var(--primary-color);
  border-radius: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: var(--secondry-font);
}

.left-section-discount > h2 {
  font-size: 60px;
}

.left-section-discount > p {
  font-weight: 700;
  text-transform: uppercase;
  font-size: 18px;
  width: 50%;
  text-align: center;
  margin-top: 20px;
}

.left-section-heading {
  font-family: var(--secondry-font);
  margin-top: 20px;
  color: var(--text-color);
  height: 100%;
}

.left-section-heading > h2 {
  font-size: 60px;
  line-height: 4.1rem;
  overflow-y: hidden;
  margin-bottom: 50px;
}

.left-section-heading > p {
  margin-top: 50px;
  font-size: 18px;
  margin-bottom: 30px;
  font-family: var(--primary-font);
}

.left-section-heading > p > a::after {
  content: "Freepik";
  text-decoration: none;
  color: #99e54d;
}

.left-section-heading > p > a {
  text-decoration: none;
}

.left-section-heading > p > a:hover {
  color: var(--secondry-color);
}

.left-section-heading > a {
  text-decoration: none;
  background-color: var(--third-color);
  color: white;
  padding: 19px 46px 20px;
  border-radius: 50px;
  font-family: 'Raleway', sans-serif;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 0.09rem;
}

.left-section-heading > a:hover {
  background-color: #ffe6ab;
  color: #111;
}

.right-section {
  width: 50%;
  height: 100%;
  overflow: hidden;
}

.email-add::after { 
  content: "hi@ourcompany.com";
  color: var(--third-color);
  font-family: var(--primary-font);
}

.location1::after { 
  content: "121 Rock Street, 21 Avenue,";
  color: var(--text-color);
  font-family: var(--primary-font);
}

.location2::after { 
  content: "New York, NY 92103-9000";
  color: var(--text-color);
  font-family: var(--primary-font);
}

.phone::after { 
  content: "+1(555) 000-000";
  color: var(--third-color);
  font-family: var(--primary-font);
}

.Right-sec-img {
  color: var(--text-color);
  display: flex;
  margin-top: 40px;
}

.Right-sec-img > .bg-c > img {
  width: 40px;
}

.bg-c {
  width: 70px;
  height: 70px;
  background-color: var(--primary-color);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Right-sec-img > .right-sec-content > h3 {
  font-family: var(--secondry-font);
  margin-bottom: 30px;
}

.Right-sec-img > .right-sec-content >  p {
  font-family: var(--primary-font);
  font-weight: 600;
  font-size: 18px;
  margin-bottom: 20px;
}

.right-sec-content {
  margin-left: 40px;
}

/*
============================
our contact section end
============================
*/


/*
============================
Main div end
============================
*/



/*
==================================
||||||||||||||||||||||||||||||||||
Main page resposive  
||||||||||||||||||||||||||||||||||
==================================
*/

@media only screen and (max-width: 991px) {

  .menu-btn {
    display: block;
    background-color: #f9f6ee;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .menu-btn > i {
    font-size: 26px;
  }

  .menu-btn > i:hover {
    color: #9e91e8;
  }
  
  .close-btn {
    display: block;
    color: white;
    width: 100%;
    height: 75px;
  }

  .close-btn > i {
  font-size: 30px;
  color: wheat;
  position: absolute;
  right: 0px;
  margin: 25px;
  cursor: pointer;
  display: block;
  }

  .menu-bar {
    background-color: rgba(0, 0, 0, 0.7);
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    left: -100%;
    transition: 0.3s ease;
    transition-property: left;
    z-index: 999;
  }

  .side-bar {
    background-color: rgba(0, 0, 0, 0.85);
    width: 250px;
    height: 100vh;
    position: fixed;
    top: 0;
    left: -100%;
    overflow-y: auto;
    transition: 0.7s ease;
    transition-property: left;
    display: block;
    text-align: center;
    z-index: 999;
  }

  .side-bar > ul > li > a {
    color: white;
    text-transform: capitalize;
    font-size: 20px;
    font-family: var(--primary-font);
  }

  .side-bar > ul > li > a:hover {
    color: rgb(201, 201, 201);
  }

  .side-bar > ul > li > a.active {
    color: white;
  }

  .side-bar > ul > li {
    display: block;
    margin-bottom: 20px;
  }

  .side-bar.work {
    left: 0;
  }
  
  .menu-bar.work {
    left: 0;
  }
 
}

/*
==============================
Mobile size 
==============================
*/

@media only screen and (max-width: 456px) {
  
/*
============================
Home-f-section start
============================
*/

.home-f-section {
  background-position: 71% 50%;
  overflow: hidden;
  width: 80%;
}

.first-sec-content {
  width: 100%;
  margin-left: 10px;
  margin-top: 30px;
}

.heading > h2 {
  font-size: 3rem;
  line-height: 3.5rem;
  width: 80%;
}

.heading > p {
  margin-bottom: 25px;
}

/*
============================
Home-f-section end
============================
*/

/*
============================
Menu section start
============================
*/

.menu-section {
  margin-top: 130px;
}

.menu-section > h1 {
  font-size: 1.5rem;
}

.menu-section > p {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  line-height: 2rem;
}

.first-menu {
  grid-template-columns: repeat(1, 1fr);
  width: 75%;
}

.first-menu-img > img {
  height: 360px;
}

/*
============================
Menu section end
============================
*/

/*
============================
contact section start
============================
*/

.contact-content {
  width: 75%;
  padding-bottom: 40px;
}

.contact-content > h1 {
  font-size: 1.5rem;
  margin-top: 30px;
}

.contact-content > p {
  line-height: 2rem;
}

.contact-content > a {
  font-size: 1.5rem;
}

/*
============================
contact section end
============================
*/

/*
============================
our restaurant section start
============================
*/

.our-restaurant-section {
  width: 78%;
  background-position: 14% 50%;
  margin-top: 60px;
}

.restaurant-heading {
  margin-top: 300px;
}

.restaurant-heading > h2 {
  font-size: 1.5rem;
  line-height: 1.5rem;
  width: 90%;
}

.restaurant-heading > p {
  line-height: 2rem;
  margin-bottom: 0px;
}

/*
============================
our restaurant section end
============================
*/


/*
============================
Blog section start
============================
*/

.blog-section > h2 {
  font-size: 1.5rem;
}

.blog-post-grid {
  grid-template-columns: repeat(1, 1fr);
  width: 78%;
}

.blog-post {
  height: 300px;
}

.blog-section > p {
  width: 80%;
  line-height: 2rem;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 40px;
}

/*
============================
Blog section end
============================
*/

/*
============================
our restaurant 2nd section start
============================
*/

.our-restaurant-2nd-section {
  width: 78%;
}

.restaurant-2nd-heading {
  margin-top: 340px;
}

.restaurant-2nd-heading > h4 {
  margin-bottom: 15px;
}

.restaurant-2nd-heading > h2 {
  font-size: 1.5rem;
  width: 100%;
  margin-bottom: 10px;
}

.restaurant-2nd-heading > p {
  line-height: 2rem;
  margin-bottom: 0px;
}

/*
============================
our restaurant 2nd section end
============================
*/


/*
============================
keep-to-date section start
============================
*/

.keep-to-date {
  height: 450px;
}

.keep-to-date-content {
  width: 80%;
  height: 330px;
}

.keep-to-date-content > h1 {
  font-size: 1.5rem;
}

.keep-to-date-content > p {
  line-height: 2rem;
}

.input-element {
  width: 100%;
}

.input-element > input[type = "text"] {
  width: 95%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 15px;
}

.input-element > input[type = "submit"] {
  width: 95%;
  margin-left: auto;
  margin-right: auto;
} 

/*
============================
keep-up-to-date section end
============================
*/

/*
============================
our restaurant 3rd section start
============================
*/

.our-restaurant-3rd-section {
  width: 80%;
  background-position: 52% 50%;
  margin-top: 60px;
}

.restaurant-3rd-heading {
  margin-top: 325px;
}

.restaurant-3rd-heading > h4 {
  margin-bottom: 20px;
}

.restaurant-3rd-heading > h2 {
  font-size: 1.5rem;
  width: 80%;
  line-height: 2rem;
}

.restaurant-3rd-heading > p {
  line-height: 2rem;
  margin-bottom: 5px;
}

/*
============================
our restaurant 3rd section end
============================
*/


/*
============================
our contact section start
============================
*/

.our-contact-section {
  width: 78%;
  margin-top: 60px;
  flex-direction: column;
  height: 1350px;
}

.left-section {
  width: 100%;
  margin-left: 20px;
  margin-top: 50px;
  height: 700px;
}

.left-section-heading > h2 {
  font-size: 1.5rem;
  margin-bottom: 30px;
}

.left-section-heading > p {
  margin-top: 40px;
  margin-bottom: 0px;
}

.right-section {
  width: 100%;
  margin-top: 0px;
}

.Right-sec-img {
  flex-direction: column;
  margin-top: 40px;
}

.Right-sec-img > .bg-c > img {
  width: 40px;
}

.bg-c {
  margin-left: 10px;
  margin-bottom: 20px;
}

.right-sec-content {
  margin-left: 10px;
}

/*
============================
our contact section end
============================
*/

}